.car-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
}

.car-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.car-card:hover .car-image {
  transform: scale(1.05) rotate(1deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.car-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.car-card-body {
  padding: 1rem;
}
